.menu-button {
  font-family: Calibri !important;
  font-size: 18px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding: 5px 15px;
}

.menu-button-active {
  font-weight: 700 !important;
}
