@import '../variables/Themes.css';

.menu-button {
  color: var(--secondaryTextColor) !important;
  font-family: Calibri !important;
  font-size: 18px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding: 5px 15px;
}

.menu-button-active {
  color: var(--selectedTextColor) !important;
  font-weight: 600 !important;
}
